@import "tailwindcss";
@import "leaflet/dist/leaflet";

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 500;
	src: url("../font/figtree-v9-latin_latin-ext-500.woff2") format("woff2");
	src: url("../font/figtree-v9-latin_latin-ext-500.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: italic;
	font-weight: 500;
	src: url("../font/figtree-v9-latin_latin-ext-500italic.woff2") format("woff2");
	src: url("../font/figtree-v9-latin_latin-ext-500italic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 600;
	src: url("../font/figtree-v9-latin_latin-ext-600.woff2") format("woff2");
	src: url("../font/figtree-v9-latin_latin-ext-600.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: italic;
	font-weight: 600;
	src: url("../font/figtree-v9-latin_latin-ext-600italic.woff2") format("woff2");
	src: url("../font/figtree-v9-latin_latin-ext-600italic.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 700;
	src: url("../font/figtree-v9-latin_latin-ext-700.woff2") format("woff2");
	src: url("../font/figtree-v9-latin_latin-ext-700.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: italic;
	font-weight: 700;
	src: url("../font/figtree-v9-latin_latin-ext-700italic.woff2") format("woff2");
	src: url("../font/figtree-v9-latin_latin-ext-700italic.woff2") format("woff2");
}


@theme {
	--font-sans: "Figtree", sans-serif;

	--color-bg-900: #FBFAF9;
	--color-bg-800: #F2F0EE;

	--color-bg-300: #383838;
	--color-bg-100: #0F0F0F;

	--color-text-100: #1A1A1A;
	--color-text-150: #BDBAB5;
	--color-text-200: #7C7A77;
	--color-text-300: #BDBAB5;

	--color-primary: #FF3733;

	--color-card-blue-100: #203664;
	--color-card-blue-200: #4C6393;
	--color-card-blue-300: #8595B4;
	/* --color-card-blue-700: #A9BEE9; */
	--color-card-blue-800: #CCD7EE;
	--color-card-blue-900: #E6EBF6;

	--color-card-green-900: #E8F6E5;
	--color-card-green-800: #C9E8C3;
	--color-card-green-300: #8BAD84;
	--color-card-green-200: #608658;
	--color-card-green-100: #254D1D;

	--color-card-purple-900: #F3E6F5;
	--color-card-purple-800: #E7CBEB;
	--color-card-purple-300: #C2A1C7;
	--color-card-purple-200: #895C8F;
	--color-card-purple-100: #512A57;

	--color-card-red-900: #F5E5E4;
	--color-card-red-800: #E9C9C5;
	--color-card-red-300: #B18D89;
	--color-card-red-200: #875852;
	--color-card-red-100: #5E312B;

	--color-card-yellow-900: #F5F4E5;
	--color-card-yellow-800: #E9E7CC;
	--color-card-yellow-300: #A4A280;
	--color-card-yellow-200: #86835A;
	--color-card-yellow-100: #57542B;
}

body {
	@apply overflow-x-hidden font-sans font-medium text-text-100 bg-bg-900 selection:bg-bg-100 selection:text-bg-900 m-0 p-3 antialiased;
	text-rendering: optimizeLegibility;
}

img {
	@apply select-none;
}

button {
	@apply cursor-pointer;
}
